<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imagen Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<nav class="nav-extended black">
			<div class="nav-wrapper"><a class="brand-logo " href="#"><img src="../img/logo3.jpg" alt="logo"></a>
				<a href="canal.html"><i class="material-icons">keyboard_arrow_left</i></a>
			</div>

		</nav>
		<div class="container-fluid" id="justificado">
			<div class="row">
				<div class="col s10 offset-1">
					<h5>AVISO DE PRIVACIDAD
						GRUPO IMAGEN MEDIOS DE COMUNICACIÓN, S.A. DE C.V.
						RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</h5>
					<br>
					<p>Grupo Imagen Medios de Comunicación, S.A. de C.V. y subsidiarias, en adelante "Imagen", con domicilio en Bucareli No. 1, Col. Centro C.P. 06600 México, D.F., es responsable del tratamiento de sus datos personales y de la información que recaba de los titulares, dicha información es tratada de forma confidencial y para los fines que establece el presente "Aviso de Privacidad".<br>
						Este "Aviso de Privacidad" corresponde a los siguientes medios:</p><br>
					<ul>
						<li>Periódico Excélsior (www.excelsior.com.mx)</li>
						<li>Excélsior Televisión (www.excelsior.com.mx/tv)</li>
						<li>Imagen (www.imagen.com.mx)</li>
						<li>Imagen Televisión (www.imagentv.com)</li>
						<li>Imagen Radio 90.5 FM (www.imagenradio.com.mx)</li>
						<li>Imagen Digital (www.imagendigital.com)</li>
						<li>Reporte 98.5 FM (www.reporte.com.mx)</li>
						<li>RMX (www.rmx.com.mx)</li>
						<li>La Kaliente (www.lakaliente.com.mx)</li>
						<li>Radio Latina (wp.1045radiolatina.com)</li>
					</ul>
					<p>FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</p>
					<br>
					<p>Los Datos Personales en posesión de Imagen serán utilizados para:</p>
					<ul>
						<li>Proveerle un bien o servicio de radiodifusión, televisión, periodístico, informativo, de suscripción y demás servicios informativos relacionados con la actividad del responsable.</li>
						<li>Brindarle información, servicios, productos o eventos, incluyendo el envío de publicidad y boletines informativos de cualquier medio perteneciente a Imagen, así como de promotores o anunciantes relacionados con estos.</li>
						<li>Seguimiento y evaluación de la calidad del servicio.</li>
						<li>Análisis interno de servicios.</li>
					</ul>
					<p>FINALIDADES DISTINTAS</p>
					<br>
					<p>De manera adicional, utilizaremos su información personal para los siguientes fines y que no es necesaria para el servicio inicialmente solicitado, pero que nos permite y facilita brindarle una mejor atención:</p>
					<ul>
						<li>Realizar actividades de mercadeo y promoción.</li>
						<li>Ofrecerle nuevos productos o servicios.</li>
						<li>Análisis estadísticos y de mercado.</li>
						<li>Invitación a eventos y/o concursos.</li>
					</ul>
					<p>En caso de que no desee que sus datos personales sean tratados para estos fines adicionales deberá manifestar su negativa enviando un correo electrónico a la siguiente dirección datospersonales@imagen.com.mx.</p><br>
					<p>DATOS PERSONALES</p>

					<p>Para llevar a cabo las finalidades descritas en el presente "Aviso de Privacidad", recabaremos principalmente los siguientes datos personales:</p>
					<ul>
						<li>Nombre completo.</li>
						<li>Dirección (calle, colonia, código postal, delegación o municipio y estado) y referencias de ubicación.</li>
						<li>Teléfonos (fijo y móvil).</li>
						<li>Correo electrónico.</li>
					</ul>
					<p>DATOS PATRIMONIALES</p>
					<br>
					<p>En algunos casos, para efectos de realizar una venta de un bien, servicio o concursos se solicitan datos financieros que son tratados de manera segura, por lo que garantizamos la protección de los mismos. Los datos financieros que solicitamos son:</p>
					<ul>
						<li>Información de cuentas bancarias.</li>
						<li>Información de tarjetas de crédito y/o débito.</li>
					</ul>
					<p>TRANSFERENCIA</p>
					<br>
					<p>Imagen puede transferir los datos personales en su posesión a terceros subcontratados o relacionados con la prestación de servicios.</p>
					<p>MEDIOS PARA EJERCER DERECHOS ARCO (ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN)</p>
					<br>
					<p>Usted tiene derecho a conocer qué datos personales tenemos de usted y poder ejercerlos para:</p>
					<br>
					<ul>
						<li>Acceso: Conocer sus datos personales y el estado en que se encuentran.</li>
						<li>Rectificación: Solicitar la corrección de sus datos personales en caso de que esté desactualizada, sea inexacta o incompleta.</li>
						<li>Cancelación: Eliminar sus datos personales de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la Ley y su Reglamento.</li>
						<li>Oposición: Oponerse al uso de sus datos personales para fines específicos.</li>
					</ul>
					<p>Lo anterior se conoce como derechos ARCO.</p><br>
					<p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá descargar, llenar, firmar y enviar la solicitud (Dar click aquí para descargar la solicitud) al correo electrónico datospersonales@imagen.com.mx, la solicitud le requiere la siguiente información:</p>
					<ul>
						<li>Nombre del titular.</li>
						<li>Domicilio del titular o dirección de correo electrónico para comunicar respuesta a solicitud.</li>
						<li>Documentos que acrediten identidad o autorización para presentarlo en la solicitud.</li>
						<li>Cualquier otro elemento que permita la localización de los datos personales y atención a la solicitud.</li>
					</ul>
					<p>MEDIOS PARA REVOCAR CONSENTIMIENTO</p><br>
					<p>Para revocar el consentimiento para tratar sus datos personales, usted deberá descargar, llenar, firmar y enviar la solicitud (Dar click aquí para descargar la solicitud) al correo electrónico datospersonales@imagen.com.mx.</p>
					<p>LIMITACIÓN DE USO Y DIVULGACIÓN DE DATOS PERSONALES</p><br>
					<p>Para limitar el uso de sus datos personales, favor de enviar un correo electrónico a datospersonales@imagen.com.mx en el que señale la limitación al uso de datos deseados.</p>
					<p>COOKIES</p>
					<p>Las cookies son pequeñas piezas de información que son enviadas por el sitio web a su navegador y se almacenan en el disco duro de su equipo. Se utilizan para determinar sus preferencias cuando se conecta a los servicios de nuestro sitio, así como para rastrear determinados comportamientos o actividades llevadas a cabo por usted dentro de nuestro sitio. La información que se colecta es anónima, y puede ser compartida con terceros para mejorar su experiencia de navegación y entregar publicidad en base a sus intereses. Estos datos no incluyen ningún tipo de información de identificación personal.</p>
					<p>El usuario puede optar por que no sean recolectados sus datos. Más información en Términos y Condiciones de Uso del sitio</p>
					<p>NOTIFICACIÓN DE CAMBIOS AL AVISO DE PRIVACIDAD</p><br>
					En su caso, las modificaciones a este "Aviso de Privacidad" estarán disponibles en esta misma página.
					</p>
			</div>
		</div>
		</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	</body>
</html>